pure-slider {
	overflow: hidden;
	display: block;
	position: relative;
}

pure-slider[orientation="horizontal"] slides {
  touch-action: pan-y !important;
	display: flex;
}

pure-slider[orientation="vertical"] slides {
  touch-action: pan-x !important;
  display: block;
	width: 100%;
}

pure-slider tabs {
  position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
}

pure-slider tabs tab {
	display: block;
	float: left;
}

pure-slider tabs tray {
  position: absolute;
  bottom: 0;
  display: block;
}

pure-slider slides slide {
  overflow: hidden;
	display: block;
	width: 100%;
}


/******************/

pure-sync {
  display: block;
  position: fixed;
  top: -30px;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  border-radius: 50%;
  background-color: white;
  z-index: 9999;
}
