pure-slider {
	overflow: hidden;
	display: block;
	position: relative;
}

pure-slider[orientation="horizontal"] slides {
	display: flex;
}

pure-slider[orientation="vertical"] slides {
	width: 100%;
}

pure-slider tabs {
	overflow: hidden;
	display: block;
	width: 100%;
}

pure-slider tabs tab {
	display: block;
	float: left;
}

pure-slider slides {
	display: block;
}

pure-slider slides slide {
	overflow: hidden;
	display: block;
	width: 100%;
}