@keyframes wave {
  to {transform: scale(24); opacity:0;}
}

@keyframes wave-shadow {
  0%   {box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);}
  20%  {box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}
  100% {box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);}
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes open-android {
  from {
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes open-ios {
  from {
    top: 0;
    left: 100%;
    right: 0;
  }
  to {
    left: 0;
  }
}
