.wave-container {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  transform: translateZ(0);
  border-radius: inherit;
  animation: wave-shadow 0.4s forwards;
}

.wave-container .wave {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 50%;
  transform: scale(0.7);
  opacity: 0.45;
}
